%article.forms
  %header 
    %h3 Review for Work Item #{@work_item.id}
    %h4 Consultant: #{@work_item.user_full_name}
    %h5 
  %section.form-review.container
    .row
      .col-sm-10.col-sm-offset-1
        = bootstrap_form_for (@review), { layout: :horizontal, url: path, label_col: "col-sm-2", control_col: "col-sm-2"} do |f| 
          %header
            %h1 Review
          %fieldset
            = f.number_field :accuracy, { step: 0.01, min: 0.00, max: 100.00 }
            = f.number_field :timeliness, { step: 0.01, min: 0.00, max: 100.00 }
            = f.number_field :grammar, { step: 0.01, min: 0.00, max: 100.00 }
            = f.number_field :detail, { step: 0.01, min: 0.00, max: 100.00 }
            = f.text_area :comment, { layout: :default, rows: 8}
          %fieldset
            = f.submit "Submit", class: "btn btn-confirm" 