- if work_item.completed?
  %tr.work_item(data-work_item="#{work_item.id}" data-niche="#{work_item.niche_name}")
    %td
      = link_to "#{work_item.company_name}"
    %td
      = link_to "#{work_item.niche_name}"
    %td
      = link_to "#{work_item.user_full_name}"
    %td= work_item.due_date