%article.work_items
  %header
    %h3= "Pending Work Items"
  .work_items.row
    .container 
      %table.table
        %thead
          %tr
            %th(width="30%") Company Name
            %th(width="20%") Niche
            %th(width="20%") Consultant
            %th(width="20%") Due Date
        %tbody
          %tr
            %td
              = link_to "Notrion"
            %td
              = link_to "Gardening Products"
            %td
              = link_to "Mark"
            %td
              June 30/2019
          %tr
            %td
              = link_to "Notrion"
            %td
              = link_to "Gardening Products"
            %td
              = link_to "Mark"
            %td
              June 30/2019
          %tr
            %td
              = link_to "Notrion"
            %td
              = link_to "Gardening Products"
            %td
              = link_to "Mark"
            %td
              June 30/2019
            
              
        
          


